@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* CABECALHO */
header {
  /* position: fixed;
  top: 0;
  width: 100%;
  padding: 20px; */
  transition: background 0.3s ease, box-shadow 0.3s ease;
  background: transparent !important;
  z-index: 1000;
}

/* Quando o header GANHA a classe .scrolled */
header.scrolled {
  background: white !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* ICONES SEÇAO SERVICOS */
.servicos-icone {
  position: absolute;
  left: 6%;
  bottom: 14%;
  font-size: 52px;
  line-height: 48px;
  /* display: inline-flex; */
  /* align-items: center;
  justify-content: center; */
  overflow: visible;
  padding: 8px;
  background-color: #845aadff;
  border-radius: 50%;
  z-index: 10;
}

.servicos-imagem:hover img {
  transform: scale(1.1);
  padding-bottom: 10px;
}

/* ICONES SEÇÃO CONTATO */
.contato-icones {
  width: 9%;
  height: 9%;
  background-color: #845aadff;
  border-radius: 15px;
  padding: .7rem;
}

.contato-icones-socias {
  width: 9%;
  height: 9%;
  background-color: rgb(234, 225, 243);
  border-radius: 15px;
  padding: .8rem;
  margin-left: .7rem;
}

.contato-icones-socias:hover {
  background-color: #845aadff;
  transform: translateY(-10px);
}

/* ICONES SEÇÃO SOBRE */
.sobre-icone {
  color: #845aadff;
  width: 8%;
  height: 8%;
  font-size: 1.2rem;
  background-color: rgb(197, 168, 226);
  padding: .6rem;
  border-radius: 15px;
  margin-right: .5rem;
}

/* ICONES DO RODAPE */
.rodape-icone {
  color: #845aadff;
  font-size: 1.5rem;
  font-weight: bold;
}

.rodape-icone-sociais {
  font-size: 4rem;
  color: #6d6d6dff;
  margin: .8rem 0 0 .8rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 52px;
  line-height: 48px;
  overflow: visible;
  padding: 10px;
}

.rodape-icone-sociais:hover {
  transform: scale(1.1);
  color: blue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.rodape-icone-sociais-instagram {
  font-size: 4rem;
  color: #6d6d6dff;
  margin: .8rem 0 0 .8rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 52px;
  line-height: 48px;
  overflow: visible;
  padding: 10px;
}

.rodape-icone-sociais-instagram:hover {
  transform: scale(1.1);
  color: rgb(240, 23, 211) !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}